[submodule "wiki"]
	path = wiki
	url = https://github.com/OrzGeeker/OrzMC.wiki.git
	branch = main
[submodule "plugin"]
	path = plugin
	url = https://github.com/OrzGeeker/OrzMCPlugin.git
	branch = main
[submodule "webmc"]
	path = webmc
	url = https://github.com/OrzGeeker/OrzWebMC.git
	branch = main
[submodule "paper_plugins_config"]
	path = paper_plugins_config
	url = https://github.com/OrzGeeker/paper_plugins_config.git
	branch = main
[submodule "python"]
	path = python
	url = https://github.com/OrzGeeker/OrzPythonMC.git
	branch = main
[submodule "app"]
	path = app
	url = https://github.com/OrzGeeker/OrzMCApp.git
[submodule "site"]
	path = site
	url = https://github.com/OrzGeeker/OrzMCSite.git
