[submodule "plugin"]
	path = plugin
	url = https://github.com/OrzGeeker/OrzMCPlugin.git
	branch = main
[submodule "webmc"]
	path = webmc
	url = https://github.com/OrzGeeker/OrzWebMC.git
	branch = main
[submodule "paper_plugins_config"]
	path = paper_plugins_config
	url = https://github.com/OrzGeeker/paper_plugins_config.git
	branch = main
[submodule "python"]
	path = python
	url = https://github.com/OrzGeeker/OrzPythonMC.git
	branch = main
[submodule "app"]
	path = app
	url = https://github.com/OrzGeeker/OrzMCApp.git
[submodule "site"]
	path = site
	url = https://github.com/OrzGeeker/OrzMCSite.git
[submodule "tools/OrzMCBackup"]
	path = tools/OrzMCBackup
	url = https://github.com/OrzGeeker/OrzMCBackup.git
[submodule "tools/rust-thanos"]
	path = tools/rust-thanos
	url = https://github.com/wangzhizhou/rust-thanos.git
[submodule "tools/thanos"]
	path = tools/thanos
	url = https://github.com/aternosorg/thanos.git
[submodule "tools/LoginSecurity"]
	path = tools/LoginSecurity
	url = https://github.com/wangzhizhou/LoginSecurity
[submodule "tools/GetMeHome"]
	path = tools/GetMeHome
	url = https://github.com/wangzhizhou/GetMeHome.git
