[submodule "website/themes/OrzAnanke"]
	path = website/themes/OrzAnanke
	url = https://github.com/OrzGeeker/OrzAnanke.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/OrzGeeker/OrzMC.wiki.git
[submodule "swift"]
	path = swift
	url = https://github.com/OrzGeeker/OrzSwiftMC.git
[submodule "plugin"]
	path = plugin
	url = https://github.com/OrzGeeker/OrzMCPlugin.git
